version: '2'

services:
  data_box:
    image: busybox
    container_name: data_box
    volumes:
      - /home/vagrant/docker/postgres/data:/var/lib/postgresql/data
      - /home/vagrant/docker/knowledge:/root/.knowledge

  db:
    image: postgres:9
    container_name: knowledge-db
    restart: always
    environment:
      - POSTGRES_USER={{ db_user }}
      - POSTGRES_PASSWORD={{ db_pass }}
      - POSTGRES_DB={{ db_name }}
    volumes_from:
      - data_box

  knowledge:
    image: koda/docker-knowledge
    container_name: knowledge
    restart: always
    volumes_from:
      - data_box
    links:
      - db
    ports:
      - "{{ port }}:8080"
